.cart {
    font-weight: 300;
    margin-left: 116px;
    font-size: 15px;
    font-family: 'Rubik';
    min-height: 700px;

    .clearSelected {
        color: #FF6633;
    }

    h2 {
        margin-top: 72px;
        font-weight: 700;
        font-size: 64px;
        margin-bottom: 68px;
    }


    .toggle-wrapper {
        width: 30px;
        height: 30px;
    }
}

.totalyBlock {
    background-color: white;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    position: absolute;
    left: 1175px;
    top: 530px;
    width: 272px;
    height: 430px;

    .promotionBlock {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }

    .mathBlock {
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }

    span {
        color: grayscale($color: #8F8F8F)
    }

    .btn {
        background-color: #FF6633;
        margin-top: 8px;
        cursor: pointer;
        border-radius: 4px;
        border: 0;
        color: white;
        align-self: center;
        width: 250px;
        height: 60px;
        margin-top: 100px
    }
}

.emptyCart {
    margin-top: 30px;
    margin-right: 400px;
    button {
        margin-top: 30px;
        height: 50px;
        width: 300px;
        border: 1px solid orangered;
        border-radius: 10px;
        background-color: transparent;
        font-weight: bold;
        background-color:transparent;
        color: orangered;
        .arrow {
            position: absolute;
            left: 570px;
            margin-top: -5px;
            width: 40px;
            height: 25px;
        }
        &:hover {
            .arrow {
                transform: translateX(-8px);
            }
        }
        cursor: pointer;
    }
}