.orders-block {
  margin-left: 116px;
  // color: #414141;

  h1 {
    margin-top: 75px;
    font-size: 64px;
    margin-bottom: 30px;

  }

  .clearOrders {
    width: 100px;
    height: 40px;
    align-self: center;
    margin-top: 70px;
    position: absolute;
    right: 200px;
    border: 1px solid #70C05B;
    background-color: white;
    border-radius: 8px;
    color: green;
  }

  b {
    font-size: 24px;
  }

  .order {
    min-height: 510px;
    position: relative;


    .data {
      padding-right: 15px;

      .status-bar {
        background: #F3F2F1;
        border-radius: 4px;
        width: 105px;
        height: 32px;
        margin-left: 50px;
        padding-top: 5px;
        text-align: center;
      }

      .additional-info {
        font-size: 24px;
        margin-left: 530px;

      }

      button {
        background: #70C05B;
        border-radius: 4px;
        width: 200px;
        height: 40px;
        margin-left: 35px;
        position: absolute;
        top: 37px;
        border: 0px;
        font-size: 17px;
        color: white;
        padding-left: 28px;
        cursor: pointer;

        img {
          position: absolute;
          left: 11px;
          top: 8px
        }
      }
    }
  }
}

.order-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  transition: box-shadow 0.2s ease-in-out, translate 0.2s ease-in-out;

  margin-right: 40px;
  margin-bottom: 30px;

  width: 272px;
  height: 349px;
  background: #FFFFFF;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  .rating {
    margin-top: 30px;
    width: 210px;
    height: 16px;
  }

  img {
    height: 160px;
    width: 272px;
  }

  p {
    margin-bottom: 0;
  }
}

.item-block {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}

.emptyOrder {
  margin-top: 50px;
  margin-left: -50px;
  min-height: 450px;

  img {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
  }

  button {
    margin-top: 30px;
    height: 50px;
    width: 300px;
    border: 1px solid orangered;
    border-radius: 10px;
    background-color: transparent;
    font-weight: bold;
    background-color: transparent;
    color: orangered;

    .arrow {
      position: absolute;
      left: 750px;
      margin-top: -5px;
      width: 40px;
      height: 25px;
    }

    &:hover {
      .arrow {
        transform: translateX(-8px);
      }
    }

    cursor: pointer;
  }
}

.count {
  margin-left: 100px;
  p {
    margin-left: 40px;
    font-weight: 300;
  }
}