.incartItem {
    position: relative;
    background: #FFFFFF;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 876px;
    height: 72px;
    margin-top: 24px;

    p {
        position: absolute;
        right: 10px;
        top: -3px;
        font-size: 15px;

    }

    h3 {
        font-weight: 400;
        font-size: 16px;
    }

    li {
        font-size: 12px;
    }

    img {
        height: 100%;
        width: 72px;
        border-radius: 4px;
    }

    .remove-cross {
        position: absolute;
        right: 5px;
        height: 45px;
        width: 45px;
        top: 35px;
        cursor: pointer;
    }

    .countBtn {
        position: absolute;
        background: #70C05B;
        border-radius: 4px;
        color: white;
        left: 640px;
        top: 15px;
        width: 100px;
        height: 40px;

        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Chrome/Safari/Opera */
        -khtml-user-select: none;    /* Konqueror */
        -moz-user-select: none;      /* Firefox */
        -ms-user-select: none;       /* Internet Explorer/Edge */
        user-select: none;           

        .minus-count {
            cursor: pointer;
            width: 24px;
            height: 24px;
            position: absolute;
            left: 15px;
            margin-top: 0px;
            .minus-svg {
                width: 15px;
                height: 3px;
            }
        }

        img {
            width: 24px;
            height: 24px;
        }

        span {
            position: absolute;
            margin-left: 0px;
        }
        
        .plus-count {
            cursor: pointer;
            position: absolute;
            right: 9px
        }
    }
}